body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Card */
.container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

/* Title */
h1 {
  margin-bottom: 20px;
  color: #2a5298;
}

/* Section */
.section {
  margin-bottom: 25px;
}

/* Inputs */
select,
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Buttons */
button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #2a5298;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1e3c72;
}

/* Exit button different color */
.exit-btn {
  background: #e74c3c;
}

.exit-btn:hover {
  background: #c0392b;
}